version: '3.4'

services:
  interviewquestion.api:
    image: ${DOCKER_REGISTRY-}interviewquestionapi
    build:
      context: .
      dockerfile: InterviewQuestion/Dockerfile
    depends_on:
      - mssql
  
  mssql:
      image: mcr.microsoft.com/mssql/server:2019-latest
      container_name: MSSQL-SERVER-2019
      ports:
       - "1433:1433"
      environment:
        - ACCEPT_EULA=Y
        - MSSQL_PID=Developer
        - SA_PASSWORD=Passw0rd1!
        - MSSQL_AGENT_ENABLED=true